<ion-header>
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <img alt="logo" style="margin-left: -15px" height="60" src="assets/images/logo.png">
    </ion-toolbar>
  </ion-header>

<ion-content>

    <ion-card>    
        <ion-card-content>
          <p>Distance: 2Km</p>
          <p>Brand: Shell</p>
          <p>Weight: 5Kg</p>
          <p>GasPrice: 30$</p>
          <p>Transport: 1$</p>
          <p>Handling: 2$</p>
          <p>Total:33$</p>
          <p>Date: 8/7/2019</p>
        </ion-card-content>
    </ion-card>

    <ion-card>    
      <ion-card-content>
        <p>Distance: 09Km</p>
        <p>Brand: Shell</p>
        <p>Weight: 12.5Kg</p>
        <p>GasPrice: 40$</p>
        <p>Transport: 5$</p>
        <p>Handling: 2$</p>
        <p>Total:47$</p>
        <p>Date: 6/7/2019</p>
      </ion-card-content>
  </ion-card>

</ion-content>
